// All

.list
  .list-box.sortable
    - objects.each do |object|
      .list-item.col-medium-1-1
        .list-middle
          .list-center
            %p
              %strong= object.created_at.strftime("%d/%m/%Y")
              \|
              = object.category.title
              \|
              = object.email
