%h1 Editing academy_enrollment

= render "form"

= link_to "Show", academy_category_enrollment_path(@academy_category, @academy_enrollment)
\|
= link_to "Back", academy_category_enrollments_path(@academy_category)
