// Index

= link_to "Back", academy_category_path(@academy_category)

%h1 Listing academy_enrollments

= render "all", parent: @academy_category, objects: @academy_enrollments

- if params[:category_id]
  = link_to "New Academy enrollment", new_academy_category_enrollment_path(@academy_category)
- unless params[:category_id]
  = link_to "Academy Dashboard", academy_root_path
