// Index

- if params[:category_id]
  = link_to "Back", academy_category_path(@academy_category)
- else
  = link_to "Back", academy_dashboard_path

%h1 Listing academy_enrollments

= render "all", parent: @academy_category, objects: @academy_enrollments

- if params[:category_id]
  = link_to "New Academy enrollment", new_academy_category_enrollment_path(@academy_category)
