// New

= link_to "Back", academy_category_enrollments_path(@academy_category)

%h1 New academy_enrollment

= render "form", parent: @academy_category, object: @academy_enrollment, courses: @academy_courses
