// Body

= form_for object do |f|
  = render "lib/components/errors", object: object
  .field
    %trix-editor{ input: "body" }
    = f.hidden_field :body, id: "body"
  .actions
    = f.submit "Save"
