// Misc

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  .field
    %trix-editor{ input: "misc" }
    = f.hidden_field :misc, id: "misc"
  .actions
    = f.submit "Save"
