// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to "Back", academy_category_path(@academy_category), class: "link small gray"
  = link_to "New Academy course", new_academy_course_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    = render "all", objects: @academy_courses
.container-bottom.left
