// New

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to academy_courses_path, class: "link medium gray" do
          .icon.left
            = image_tag "chevron_left.png"
          Back
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @academy_course, categories: @academy_categories, tutors: @academy_tutors
.container-bottom.left
