// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Magestil
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Equipment", magestil_equipment_path, class: "link medium blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Gallery", magestil_equipment_assets_path, class: "link medium blue wide hover-underline"
