// Edit

= link_to "Back", magestil_equipment_path

%h1 Editing magestil_equipment

- if params_image
  = render "image", object: @magestil_equipment
- else
  = render "form", object: @magestil_equipment
