// New

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to wallet_categories_path, class: "link medium gray" do
          .icon.left
            = image_tag "chevron_left.png"
          Back
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @wallet_category
.container-bottom.left
