// New

.container-top
  = render "lib/components/breadcrumbs", path: wallet_categories_path
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @wallet_category
.container-bottom.left
