// Show

.container-top
  = render "lib/components/breadcrumbs", path: wallet_categories_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    = render "form", object: @wallet_category
.container-bottom.left
