// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Magensinus
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Main", magensinus_newsletter_path, class: "link large blue"
