// Edit

%h1 Editing magensinus_newsletter

- if params_image
  = render "image", object: @magensinus_newsletter
- else
  = render "form", object: @magensinus_newsletter

= link_to "Image", edit_magensinus_newsletter_path(image: "true")
= link_to "Back", magensinus_newsletter_path
