// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Academy
    .separator.extra-small
    - if objects.presence
      .secondary-navigation-item
        = link_to "Toggle Content", "#", class: "off link medium blue wide hover-underline toggle-trigger"
      .separator.extra-small
    .secondary-navigation-item
      = link_to "Text", new_academy_course_section_section_asset_path(@academy_course, @academy_section, text: "true"), class: "link medium blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Image", new_academy_course_section_section_asset_path(@academy_course, @academy_section, image: "true"), class: "link medium blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Video", new_academy_course_section_section_asset_path(@academy_course, @academy_section, video: "true"), class: "link medium blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Document", new_academy_course_section_section_asset_path(@academy_course, @academy_section, document: "true"), class: "link large blue"
