// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to academy_course_section_path(@academy_course, @academy_section), class: "link medium gray" do
          .icon.left
            = image_tag "chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    = render "all", grandparent: @academy_course, parent: @academy_section, objects: @academy_section_assets
.container-bottom.left
