// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to academy_course_section_path(@academy_course, @academy_section), class: "link medium gray" do
          Back
.container-middle.left
  .board-double-extra-small
    = render "secondary_navigation", objects: @academy_section_assets
  .board-medium
    - if @academy_section_assets.presence
      = render "all", grandparent: @academy_course, parent: @academy_section, objects: @academy_section_assets
    - else
      = blankslate
.container-bottom.left
