/* Content Nav */

.content-nav.right
  .content-nav-box
    .content-nav-item
      = link_to "Destroy", magensinus_about_asset_path(object), method: :delete, data: { confirm: "Are you sure?" }, class: "link gray-light left"
    .content-nav-item.pg-0-0-0-16
      - if object.image == true
        = link_to "Edit", edit_magensinus_about_asset_path(object, image: true), class: "button yellow left"
      - if object.video == true
        = link_to "Edit", edit_magensinus_about_asset_path(object, video: true), class: "button yellow left"
      - if object.text == true
        = link_to "Edit", edit_magensinus_about_asset_path(object, text: true), class: "button yellow left"
