// Edit

.container-top
  = render "lib/components/breadcrumbs", path: magensinus_about_assets_path
.container-middle.left
  .board-medium.altai-center
    - if params_text
      = assets_form_renderer(@magensinus_about_asset, nil, magensinus_about_asset_form_url)
    - elsif params_image
      = assets_form_renderer(@magensinus_about_asset, "2240 x 1080", magensinus_about_asset_form_url)
    - elsif params_video
      = assets_form_renderer(@magensinus_about_asset, nil, magensinus_about_asset_form_url)
.container-bottom.left
