// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magensinus_about_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back

.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    = render "all", objects: @magensinus_about_assets
.container-bottom.left
