// New

= link_to "Back", magensinus_about_assets_path

%h1 New magensinus_about_asset

- if params_text
  = render "text", object: @magensinus_about_asset
- if params_image
  = render "image", object: @magensinus_about_asset
- if params_video
  = render "video", object: @magensinus_about_asset
