// Index

.container-top
  = render "lib/components/breadcrumbs", path: magestil_equipment_path
  = link_to "New Equipment Asset", new_magestil_equipment_asset_path(image: true), class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    = render "all", objects: @magestil_equipment_assets
.container-bottom.left
