// Index

= link_to "Back", magestil_equipment_path

%h1 Listing magestil_equipment_assets

= render "all", objects: @magestil_equipment_assets

= link_to "New Magensinus equipment_asset", new_magestil_equipment_asset_path
