// Show

.container-top
  = render "lib/components/breadcrumbs", path: magestil_equipment_assets_path
.container-middle.left
  .board-medium.altai-center
    - if params_image
      = assets_form_renderer(@magestil_equipment_asset, "2240 x 1080", magestil_equipment_asset_form_url)
.container-bottom.left
