// Show

.container-top
  = render "lib/components/breadcrumbs", path: magestil_dashboard_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_image
      = assets_form_renderer(@magestil_home, "Width: 2880px | Height: 1080px", magestil_home_path)
    - else
      = render "form", object: @magestil_home
.container-bottom.left
