// All

%table
  %thead
    %tr
      %th Name
      %th Surname
      %th
      %th
  %tbody
    - objects.each do |object|
      %tr
        %td= object.name
        %td= object.surname
        %td= link_to "Show", academy_tutor_path(object)
        %td= link_to "Destroy", academy_tutor_path(object), method: :delete, data: { confirm: "Are you sure?" }
