// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", academy_tutor_path(@academy_tutor), class: "link large blue wide hover-underline"
