// New

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to academy_tutors_path, class: "link medium gray" do
          Back
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @academy_tutor
.container-bottom.left
