// All

%table
  %thead
    %tr
      %th Title
      %th Published
      %th
      %th
  %tbody
    - objects.each do |object|
      %tr
        %td= object.title
        %td= object.published
        %td= link_to "Show", academy_course_section_path(parent, object)
        %td= link_to "Destroy", academy_course_section_path(parent, object), method: :delete, data: { confirm: "Are you sure?" }
