// Edit

= link_to "Back", academy_course_sections_path(@academy_course)

%h1 Editing academy_section

= render "form", parent: @academy_course, object: @academy_section

= link_to "Show", academy_course_section_path(@academy_course, @academy_section)
