// New

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magensinus_networks_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back

.container-middle.left
  .board-medium.altai-center
    = render "form", object: @magensinus_network
.container-bottom.left
