// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", magestil_network_path(@magestil_network), class: "link large blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Thumb", magestil_network_path(@magestil_network, thumb: "true"), class: "link large blue wide hover-underline"
    .separator.small
    .secondary-navigation-item
      = link_to "Destroy", magestil_network_path(@magestil_network), method: :delete, data: { confirm: "Are you sure?" }, class: "link large red wide hover-underline"
