// Index

.container-top
  = render "lib/components/breadcrumbs", path: magestil_dashboard_path
  = render "lib/components/breadcrumbs", path: magestil_dashboard_path
  = link_to "New magestil network", new_magestil_network_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    %h1.lighter Magestil Networks
    .separator.small
    = render "all", objects: @magestil_networks
.container-bottom.left
