// New

.container-top
  = render "lib/components/breadcrumbs", path: magestil_networks_path
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @magestil_network
.container-bottom.left
