// New

.container-top
  = render "lib/components/breadcrumbs", path: magestil_networks_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_thumb
      = render partial: "thumb", locals: { object: @magestil_network }
    - else
      = render "form", object: @magestil_network
.container-bottom.left
