// Edit

%h1 Editing magensinus_course

- if params_image
  = render "image", object: @magensinus_courses
- else
  = render "form", object: @magensinus_courses

= link_to "Image", edit_magensinus_courses_path(image: "true")
= link_to "Back", magensinus_courses_path
