// Show

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to root_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
.container-middle.left
  .board-medium.altai-center
    .launchpad
      .launchpad-box
        .launchpad-item.col-large-4-1
          = link_to "Articles", journal_articles_path, class: "button wide text-center extra-large"
.container-bottom.left
