// Edit

%h1 Editing magensinus_home

- if params_image
  = render "image", object: @magensinus_home
- else
  = render "form", object: @magensinus_home

= link_to "Image", edit_magensinus_home_path(image: "true")
= link_to "Back", magensinus_home_path
