// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", magestil_newsletter_path, class: "link large blue wide hover-underline"
