// Edit

= link_to "Back", magestil_newsletter_path

%h1 Editing magestil_newsletter

- if params_image
  = render "image", object: @magestil_newsletter
- else
  = render "form", object: @magestil_newsletter
