// Index

.container-top
  = render "lib/components/breadcrumbs", path: legal_article_path(@legal_article)
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation", locals: { objects: @legal_assets }
  .board-medium
    = render "all", parent: @legal_article, objects: @legal_assets
.container-bottom.left
