// Edit

= link_to "Back", magestil_terms_and_conditions_path

%h1 Editing magestil_article

- if params_image
  = render "image", object: @magestil_terms_and_conditions
- else
  = render "form", object: @magestil_terms_and_conditions
