// Edit

%h1 Editing journal_asset

- if params_text
  = render "text"
- if params_image
  = render "image"
- if params_video
  = render "video"

= link_to "Back", journal_article_assets_path(@journal_article)
