// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to journal_article_path(@journal_article), class: "link medium gray" do
          .icon.left
            = image_tag "chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    = render "all", parent: @journal_article, objects: @journal_assets
.container-bottom.left
