// Index

.container-top
  = render "lib/components/breadcrumbs", path: journal_article_path(@journal_article)
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation", locals: { objects: @journal_assets }
  .board-medium
    = render "all", parent: @journal_article, objects: @journal_assets
.container-bottom.left
