// New

.container-top
  = render "lib/components/breadcrumbs", path: journal_article_assets_path(@journal_article)
.container-middle.left
  .board-medium.altai-center
    - if params_text
      = assets_form_renderer(@journal_asset, nil, journal_asset_form_url)
    - if params_image
      = assets_form_renderer(@journal_asset, "Max Width: 960px | Max Height: 960px", journal_asset_form_url)
    - if params_video
      = assets_form_renderer(@journal_asset, nil, journal_asset_form_url)
.container-bottom.left
