// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Magensinus
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Main", magensinus_terms_and_conditions_path, class: "link large blue wide hover-underline"
