// Show

.content
  .content-box
    .content-item
      .breadcrumbs
        .breadcrumbs-box
          .breadcrumbs-item
            = link_to "Dashboard", root_path, class: "link small"
    .content-item
      %h1.auto.inline Wallet Dashboard
.separator.extra-small
= render "all", objects: @wallet_categories
