// Show

.container-top
  = render "lib/components/breadcrumbs", path: wallet_root_path
.container-middle.left
  .board-medium.altai-center
    .launchpad
      .launchpad-box
        .launchpad-item.col-large-4-1
          = link_to "Categories", wallet_categories_path, class: "button wide text-center extra-large"
.container-bottom.left
