// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", magestil_campus_path, class: "link large blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Gallery Assets", magestil_campus_assets_path, class: "link large blue wide hover-underline"
