// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Sections
    .secondary-navigation-item
      = link_to "Main",                 academy_category_path(@academy_category), class: "link large blue wide hover-underline"
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Courses",                 academy_category_courses_path(@academy_category), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Thumb",                academy_category_path(@academy_category, thumb: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Thumb Eml",            academy_category_path(@academy_category, thumb_eml: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Thumb Magestil",       academy_category_path(@academy_category, thumb_magestil: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Thumb Magensinus",     academy_category_path(@academy_category, thumb_magensinus: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Cover",                academy_category_path(@academy_category, cover: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Cover Eml",            academy_category_path(@academy_category, cover_eml: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Cover Magestil",       academy_category_path(@academy_category, cover_magestil: "true"), class: "link large blue wide hover-underline"
    // .secondary-navigation-item
    //   = link_to "Cover Magensinus",     academy_category_path(@academy_category, cover_magensinus: "true"), class: "link large blue wide hover-underline"

    // .separator.extra-small
    // .secondary-navigation-item
    //   = link_to "Enrollments", academy_category_enrollments_path(@academy_category), class: "link large blue wide hover-underline"
