// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Academy
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Main", academy_category_path(@academy_category), class: "link medium blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Courses", academy_category_courses_path(@academy_category), class: "link medium blue wide hover-underline"
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Destroy", academy_category_path(@academy_category), method: :delete, data: { confirm: "Are you sure?" }, class: "link medium red wide hover-underline"
