// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to academy_root_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
  = link_to "New Academy category", new_academy_category_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    = render "all", objects: @academy_categories
.container-bottom.left
