// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to "Back", academy_root_path, class: "link small gray"
  = link_to "New Academy category", new_academy_category_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    = render "all", objects: @academy_categories
.container-bottom.left
