// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Magestil
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Main", magestil_articles_path, class: "link large blue wide hover-underline"
