// New

.container-top
  = render "lib/components/breadcrumbs", path: endorsement_badges_path
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @endorsement_badge
.container-bottom.left
