// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Roles
// Project: Mies by IIGETHR
// -------------------------------------------------------------


.header {
  background-color: $white;
  padding: 16px 0;
}

.main {
  margin: 0;
  padding: 32px 0;
}
