// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Roles
// Project: Mies by IIGETHR
// -------------------------------------------------------------


.header {
  background-color: $white;
  padding: 16px 0;
}

.container-top {
  padding: 0 0 16px;
}

.container-middle {
  padding: 16px 0 0;
}
