// Index

.container-top
  = render "lib/components/breadcrumbs", path: magestil_campus_path
  = link_to "New Campus Asset", new_magestil_campus_asset_path(image: true), class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    = render "all", objects: @magestil_campus_assets
.container-bottom.left
