// Index

= link_to "Back", magestil_campus_path

%h1 Listing magestil_campus_assets

= render "all", objects: @magestil_campus_assets

= link_to "New Magensinus campus_asset", new_magestil_campus_asset_path
