// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Sections
    .secondary-navigation-item
      = link_to "Articles", magensinus_articles_path, class: "link large blue"
    .secondary-navigation-item
      = link_to "Image", magensinus_articles_path(image: "true"), class: "link large blue"
