// Show

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magensinus_dashboard_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    // - if params_image
    //   = render partial: "image", locals: { object: @magensinus_articles }
    // - else
    = render partial: "form", locals: { object: @magensinus_articles }
.container-bottom.left
