// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", journal_article_path(@journal_article), class: "link large blue"
    .secondary-navigation-item
      = link_to "Thumb", journal_article_path(@journal_article, thumb: "true"), class: "link large blue"
    .secondary-navigation-item
      = link_to "Media Assets", journal_article_assets_path(@journal_article), class: "link large blue"
    .separator.small
    .secondary-navigation-item
      = link_to "Destroy", journal_article_path(@journal_article), method: :delete, data: { confirm: "Are you sure?" }, class: "link large red wide hover-underline"
