// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to journal_root_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
  = link_to "New Journal Article", new_journal_article_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    .content
      .content-box
        .content-item
          %h3.lighter Journal Articles
    = render "all",   objects: @published_journal_articles
    // = render "unpublished", objects: @unpublished_journal_articles
    // = render "scheduled",   objects: @scheduled_journal_articles
    // = render "published",   objects: @published_journal_articles
.container-bottom.left
