// Show

.container-top
  = render "lib/components/breadcrumbs", path: journal_articles_path
.container-middle.left
  .board-medium.altai-center
    - if params_thumb
      = assets_form_renderer(@journal_article, "2240 x 1080", nil)
    - else
      = render "form", object: @journal_article
.container-bottom.left
