// Show

.container-top
  = render "lib/components/breadcrumbs", path: journal_articles_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_thumb
      = assets_form_renderer(@journal_article, "Width: 512px | Height: 512px", nil)
    - else
      = render "form", object: @journal_article
.container-bottom.left
