// Breadcrumbs

.breadcrumbs
  .breadcrumbs-box
    .breadcrumbs-item
      = link_to path, class: "link medium gray" do
        .icon.left
          = image_tag "icons/chevron_left.png"
        Back
