// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Sections
    .secondary-navigation-item
      = link_to "Quality", magensinus_quality_path, class: "link large blue"
    .secondary-navigation-item
      = link_to "Image", magensinus_quality_path(image: "true"), class: "link large blue"
