// Show

.container-top
  = render "lib/components/breadcrumbs", path: magensinus_dashboard_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_image
      = assets_form_renderer(@magensinus_quality, "Width: 1920px | Height: 540px", magensinus_quality_path)
    - else
      = render "form", object: @magensinus_quality
.container-bottom.left
