// Show

.container-top
  = render "lib/components/breadcrumbs", path: magensinus_dashboard_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    = render "form", object: @magensinus_quality
.container-bottom.left
