// All

%table
  %thead
    %tr
      %th
      %th Caption
      %th
  %tbody.sortable{ "data-url" => sortable_wallet_category_assets_path(parent) }
    - objects.each do |object|
      %tr{ id: "wallet_asset_#{object.id}" }
        %td= link_to "Sort Me", "#", class: "off link gray-light left handle"
        %td= object.document_caption
        %td= link_to "Show", wallet_category_asset_path(parent, object, document: true)
