%h1 Editing wallet_asset

- if params_document
  = render "document"

= link_to "Show", wallet_category_asset_path(@wallet_category, @wallet_asset)
\|
= link_to "Back", wallet_category_assets_path(@wallet_category)
