// Index

= link_to "Back", new_wallet_category_path(@wallet_category)

%h1 #{@wallet_category.title} - wallet assets

= render "all", parent: @wallet_category, objects: @wallet_assets

= link_to "New Wallet Document", new_wallet_category_asset_path(@wallet_category, document: "true")
