// Index

.content
  .content-box
    .content-item
      .breadcrumbs
        .breadcrumbs-box
          .breadcrumbs-item
            = link_to "Back", wallet_category_path(@wallet_category), class: "link small"
      .actions
        .actions-box
          .actions-item
            = link_to "New Document", new_wallet_category_asset_path(@wallet_category, document: "true"), class: "button green large right"
    .content-item
      %h1 #{@wallet_category.title}
.separator.small
= render "all", parent: @wallet_category, objects: @wallet_assets
