// Index

.container-top
  = render "lib/components/breadcrumbs", path: wallet_category_assets_path(@wallet_category)
.container-middle.left
  .board-medium.altai-center
    - if params_document
      = render "document", object: @wallet_asset
.container-bottom.left
