// New

.content
  .content-box
    .content-item
      .breadcrumbs
        .breadcrumbs-box
          .breadcrumbs-item
            = link_to "Back", wallet_category_path(@wallet_category), class: "link small"
    .content-item
      %h1 New Document
.separator.small
- if params_document
  = render "document", object: @wallet_asset
