// All

.list
  .list-box.sortable
    - objects.each do |object|
      .list-item.col-medium-1-1
        .list-middle
          .list-center.no-side
            %p= object.title
          .list-right
            = link_to partnerships_identity_path(object), class: "link medium gray pg-12" do
              .icon.left
                = image_tag "icons/arrow_forward.png"
