// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", partnerships_identity_path(@partnerships_identity), class: "link medium blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Thumb", partnerships_identity_path(@partnerships_identity, thumb: "true"), class: "link medium blue wide hover-underline"
    .separator.extra-small
    .secondary-navigation-item
      = link_to "Destroy", partnerships_identity_path(@partnerships_identity), method: :delete, data: { confirm: "Are you sure?" }, class: "link medium red wide hover-underline"
