// New

.container-top
  = render "lib/components/breadcrumbs", path: partnerships_identities_path
.container-middle.left
  .board-medium.altai-center
    = render "form", object: @partnerships_identity
.container-bottom.left
