// Show

.container-top
  = render "lib/components/breadcrumbs", path: partnerships_identities_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_thumb
      // = render "thumb", object: @partnerships_identity
      = assets_form_renderer(@partnerships_identity, "Width: 512px | Height: 512px")
    - else
      = render "form", object: @partnerships_identity
.container-bottom.left
