// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Main", magensinus_about_path, class: "link large blue"
    .secondary-navigation-item
      = link_to "Media Assets", magensinus_about_assets_path, class: "link large blue"
