// Edit

%h1 Editing magensinus_contact

- if params_image
  = render "image", object: @magensinus_contact
- else
  = render "form", object: @magensinus_contact

= link_to "Image", edit_magensinus_contact_path(image: "true")
= link_to "Back", magensinus_contact_path
