// All

%table
  %thead
    %tr
      %th Position
      %th
      %th
      %th
  %tbody
    - objects.each do |object|
      %tr
        %td= object.position
        %td= link_to "Show", magestil_about_asset_path(object)
        %td= link_to "Edit", edit_magestil_about_asset_path(object)
        %td= link_to "Destroy", magestil_about_asset_path(object), method: :delete, data: { confirm: "Are you sure?" }
