// Edit

= link_to "Back", magestil_about_assets_path

%h1 Editing magestil_about_asset

- if params_image
  = render "image", object: @magestil_about_asset
- if params_video
  = render "video", object: @magestil_about_asset
