// Index

.container-top
  = render "lib/components/breadcrumbs", path: magestil_about_path
.container-middle.left
  .board-double-extra-small
    = render "secondary_navigation", objects: @magestil_about_assets
  .board-medium
    - if @magestil_about_assets.presence
      = render "all", objects: @magestil_about_assets
    - else
      = blankslate
.container-bottom.left
