// Index

= link_to "Back", magestil_root_path

%h1 Listing magestil_about_assets

= render "all", objects: @magestil_about_assets

= link_to "Image", new_magestil_about_asset_path(image: "true")
= link_to "Video", new_magestil_about_asset_path(video: "true")
