// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magestil_about_path, class: "link medium gray" do
          .icon.left
            = image_tag "chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    = render "all", objects: @magestil_about_assets
.container-bottom.left
