// Edit

= link_to "Back", magestil_tutors_path

%h1 Editing magestil_tutors

- if params_image
  = render "image", object: @magestil_tutors
- else
  = render "form", object: @magestil_tutors

= link_to "Image", edit_magestil_tutors_path(image: "true")
