// Secondary navigation

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      %h3 Sections
    .secondary-navigation-item
      = link_to "Contact", magestil_contact_path, class: "link large blue wide hover-underline"
    .secondary-navigation-item
      = link_to "Image", magestil_contact_path(image: "true"), class: "link large blue wide hover-underline"
