// Show

.container-top
  = render "lib/components/breadcrumbs", path: magestil_dashboard_path
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_misc
      = render partial: "misc", locals: { object: @magestil_contact }
    - else
      = render partial: "form", locals: { object: @magestil_contact }
.container-bottom.left
